sudo: required
language: objective-c
cache: cocoapods
osx_image: xcode8.1
xcode_project: MercadoPagoSDK/MercadoPagoSDK.xcodeproj
xcode_scheme: MercadoPagoSDK
xcode_sdk: iphonesimulator

before_script:
  - cd MercadoPagoSDK
  - xcrun simctl list
  - brew update
  - gem install coveralls
  - gem install slather

install:
  - gem install xcpretty --no-rdoc --no-ri --no-document --quiet

script:
# tests not working yet
- gstdbuf -o 0 xcodebuild build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO | xcpretty -c
- cd ../scripts 
- ./run_tests_on_devices.sh

after_success:
 - cd ..
 - slather coverage
 - bash <(curl -s https://codecov.io/bash) -J 'MercadoPagoSDK'