<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debmaster</key>
	<dict>
		<key>first_color</key>
		<string>405B72</string>
		<key>image_name</key>
		<string>icoTc_master</string>
		<key>font_color</key>
		<string>FFFFFF</string>
		<key>editing_font_color</key>
		<string>FFFFFF</string>
	</dict>
	<key>master</key>
	<dict>
		<key>editing_font_color</key>
		<string>FFFFFF</string>
		<key>font_color</key>
		<string>FFFFFF</string>
		<key>first_color</key>
		<string>405B72</string>
		<key>image_name</key>
		<string>icoTc_master</string>
	</dict>
	<key>debvisa</key>
	<dict>
		<key>editing_font_color</key>
		<string>FFFFFF</string>
		<key>font_color</key>
		<string>FFFFFF</string>
		<key>first_color</key>
		<string>001D77</string>
		<key>image_name</key>
		<string>icoTc_visa</string>
	</dict>
	<key>visa</key>
	<dict>
		<key>editing_font_color</key>
		<string>FFFFFF</string>
		<key>font_color</key>
		<string>FFFFFF</string>
		<key>first_color</key>
		<string>001D77</string>
		<key>image_name</key>
		<string>icoTc_visa</string>
	</dict>
	<key>amex</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string>A1CCAA</string>
		<key>image_name</key>
		<string>icoTc_amex</string>
	</dict>
	<key>naranja</key>
	<dict>
		<key>editing_font_color</key>
		<string>FFFFFF</string>
		<key>font_color</key>
		<string>FFFFFF</string>
		<key>first_color</key>
		<string>FF723F</string>
		<key>image_name</key>
		<string>icoTc_naranja</string>
	</dict>
	<key>nativa</key>
	<dict>
		<key>editing_font_color</key>
		<string>FFFFFF</string>
		<key>font_color</key>
		<string>FFFFFF</string>
		<key>first_color</key>
		<string>013C76</string>
		<key>image_name</key>
		<string>icoTc_nativa</string>
	</dict>
	<key>tarshop</key>
	<dict>
		<key>editing_font_color</key>
		<string>FFFFFF</string>
		<key>font_color</key>
		<string>FFFFFF</string>
		<key>first_color</key>
		<string>3D4064</string>
		<key>image_name</key>
		<string>icoTc_tarshop</string>
	</dict>
	<key>cencosud</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string>F7F7F7</string>
		<key>image_name</key>
		<string>icoTc_cencosud</string>
	</dict>
	<key>cabal</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string>D4B44B</string>
		<key>image_name</key>
		<string>icoTc_cabal</string>
	</dict>
	<key>diners</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string>CECECE</string>
		<key>image_name</key>
		<string>icoTc_diners</string>
	</dict>
	<key>argencard</key>
	<dict>
		<key>editing_font_color</key>
		<string>FFFFFF</string>
		<key>font_color</key>
		<string>FFFFFF</string>
		<key>first_color</key>
		<string>405B72</string>
		<key>image_name</key>
		<string>icoTc_argencard</string>
	</dict>
	<key>pagofacil</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_pagofacil</string>
	</dict>
	<key>rapipago</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_rapipago</string>
	</dict>
	<key>redlink</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_redlink</string>
	</dict>
	<key>bapropagos</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_bapropagos</string>
	</dict>
	<key>cargavirtual</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string></string>
	</dict>
	<key>cordobesa</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string>5BAB97</string>
		<key>image_name</key>
		<string>icoTc_Cordobesa</string>
	</dict>
	<key>cordial</key>
	<dict>
		<key>editing_font_color</key>
		<string>333333</string>
		<key>font_color</key>
		<string>333333</string>
		<key>first_color</key>
		<string>CBD8DF</string>
		<key>image_name</key>
		<string>icoTc_Coordial</string>
	</dict>
	<key>cmr</key>
	<dict>
		<key>editing_font_color</key>
		<string>FFFFFF</string>
		<key>font_color</key>
		<string>FFFFFF</string>
		<key>first_color</key>
		<string>3D7D4E</string>
		<key>image_name</key>
		<string>icoTc_cmr</string>
	</dict>
	<key>mercadopago_cc</key>
	<dict>
		<key>image_name</key>
		<string>icoTC_mppa</string>
		<key>first_color</key>
		<string>dcddd9</string>
		<key>font_color</key>
		<string>333333</string>
		<key>editing_font_color</key>
		<string>333333</string>
	</dict>
</dict>
</plist>
