<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiException</key>
	<string>{
    &quot;message&quot;: &quot;Invalid cardholder.identification.number: 312322222 in site_id: MLV&quot;,
    &quot;cause&quot;: [
        {
            &quot;description&quot;: &quot;Invalid parameter &apos;cardholder.identification.number&apos;&quot;,
            &quot;code&quot;: &quot;324&quot;
        }
    ],
    &quot;error&quot;: &quot;bad_request&quot;,
    &quot;status&quot;: 400
}</string>
	<key>Cause</key>
	<string>{
            &quot;description&quot;: &quot;Invalid parameter &apos;cardholder.identification.number&apos;&quot;,
            &quot;code&quot;: &quot;324&quot;
}</string>
	<key>groups</key>
	<string>{
  &quot;groups&quot;: [
    {
      &quot;type&quot;: &quot;group&quot;,
      &quot;comment&quot;: null,
      &quot;id&quot;: &quot;cards&quot;,
      &quot;description&quot;: &quot;Tarjetas&quot;,
      &quot;children_header&quot;: &quot;¿Con que tarjeta?&quot;,
      &quot;children&quot;: [
        {
          &quot;type&quot;: &quot;payment_type&quot;,
          &quot;comment&quot;: &quot;&quot;,
          &quot;id&quot;: &quot;debit_card&quot;,
          &quot;description&quot;: &quot;Tarjeta de débito&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_type&quot;,
          &quot;comment&quot;: &quot;&quot;,
          &quot;id&quot;: &quot;credit_card&quot;,
          &quot;description&quot;: &quot;Tarjeta de crédito&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_type&quot;,
          &quot;comment&quot;: &quot;&quot;,
          &quot;id&quot;: &quot;prepaid_card&quot;,
          &quot;description&quot;: &quot;Tarjeta prepaga de MercadoPago&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        }
      ]
    },
    {
      &quot;type&quot;: &quot;payment_type&quot;,
      &quot;comment&quot;: null,
      &quot;id&quot;: &quot;bank_transfer&quot;,
      &quot;description&quot;: &quot;Transferencia Bancaria&quot;,
      &quot;children_header&quot;: &quot;¿Cuál es tu banco?&quot;,
      &quot;children&quot;: [
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;serfin_bank_transfer&quot;,
          &quot;description&quot;: &quot;Santander&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;banamex_bank_transfer&quot;,
          &quot;description&quot;: &quot;Banamex&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;bancomer_bank_transfer&quot;,
          &quot;description&quot;: &quot;BBVA Bancomer&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        }
      ]
    },
    {
      &quot;type&quot;: &quot;payment_type&quot;,
      &quot;comment&quot;: null,
      &quot;id&quot;: &quot;ticket&quot;,
      &quot;description&quot;: &quot;Efectivo&quot;,
      &quot;children_header&quot;: &quot;¿Dónde quieres pagar?&quot;,
      &quot;children&quot;: [
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;oxxo&quot;,
          &quot;description&quot;: &quot;Oxxo&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;serfin_ticket&quot;,
          &quot;description&quot;: &quot;Santander&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;banamex_ticket&quot;,
          &quot;description&quot;: &quot;Banamex&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;bancomer_ticket&quot;,
          &quot;description&quot;: &quot;BBVA Bancomer&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;7eleven&quot;,
          &quot;description&quot;: &quot;7eleven&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;gestopago&quot;,
          &quot;description&quot;: &quot;Gestopago&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        },
        {
          &quot;type&quot;: &quot;payment_method&quot;,
          &quot;comment&quot;: &quot;Se acreditará en 7 hábiles&quot;,
          &quot;id&quot;: &quot;telecomm&quot;,
          &quot;description&quot;: &quot;Telecomm&quot;,
          &quot;children_header&quot;: null,
          &quot;children&quot;: null
        }
      ]
    },
    {
      &quot;type&quot;: &quot;payment_method&quot;,
      &quot;comment&quot;: &quot;Se acreditará en 2 hábiles&quot;,
      &quot;id&quot;: &quot;bitcoin&quot;,
      &quot;description&quot;: &quot;Bitcoin&quot;,
      &quot;children_header&quot;: null,
      &quot;children&quot;: null
    }
  ]
}</string>
	<key>groups_one_option</key>
	<string>{
	&quot;groups&quot;: [{
		&quot;type&quot;: &quot;payment_type&quot;,
		&quot;comment&quot;: &quot;&quot;,
		&quot;id&quot;: &quot;credit_card&quot;,
		&quot;description&quot;: &quot;Tarjeta de crédito&quot;,
		&quot;children_header&quot;: null,
		&quot;children&quot;: null
	}]
}</string>
	<key>Address</key>
	<string>{
&quot;street_name&quot;: &quot;street_name&quot;,
&quot;street_number&quot;: &quot;0&quot;,
&quot;zip_code&quot;: &quot;zip_code&quot;
}</string>
	<key>BinMask</key>
	<string>{&quot;pattern&quot;: &quot;4&quot;,&quot;exclusion_pattern&quot;: &quot;(487017)&quot;,&quot;installments_pattern&quot;: &quot;4&quot;}</string>
	<key>Card</key>
	<string>{
&quot;customer_id&quot;: &quot;customer_id&quot;,
&quot;expiration_month&quot;: 4,
&quot;expiration_year&quot;: 20,
&quot;id&quot;: &quot;4&quot;,
&quot;last_four_digits&quot;: &quot;1234&quot;,
&quot;first_six_digits&quot;: &quot;123456&quot;,
&quot;issuer&quot;: {
&quot;id&quot;: &quot;id&quot;,
&quot;name&quot;: &quot;name&quot;
}
,
&quot;security_code&quot;: {
&quot;length&quot;: 3,
&quot;card_location&quot;: &quot;card_location&quot;,
&quot;mode&quot;: &quot;mode&quot;
}
,
&quot;payment_method&quot;:{
&quot;id&quot;: &quot;id&quot;,
&quot;name&quot;: &quot;name&quot;,
&quot;payment_type_id&quot;: &quot;debit_card&quot;,
&quot;additional_info_needed&quot;: &quot;additional_info_needed&quot;,
&quot;settings&quot;: &quot;settings&quot;,
&quot;additional_info_needed&quot;: [&quot;additional_info_needed 1&quot;,&quot;additional_info_needed 2&quot;]
}
,
&quot;card_holder&quot;: {
&quot;name&quot;: &quot;name&quot;,
&quot;identification&quot;: {
&quot;type&quot;: &quot;type&quot;,
&quot;number&quot;: &quot;number&quot;
}
},
&quot;date_last_updated&quot;: &quot;0&quot;,
&quot;date_created&quot;: &quot;0&quot;
}</string>
	<key>Cardholder</key>
	<string>{
&quot;name&quot;: &quot;name&quot;,
&quot;identification&quot;: {
&quot;type&quot;: &quot;type&quot;,
&quot;number&quot;: &quot;number&quot;
}
}</string>
	<key>CardNumber</key>
	<string>{
&quot;validation&quot;: &quot;validation&quot;,
&quot;length&quot;: 0
}</string>
	<key>Customer</key>
	<string>{
&quot;id&quot;: &quot;id&quot;,
&quot;live_mode&quot;: true,
&quot;email&quot;: &quot;email&quot;,
&quot;first_name&quot;: &quot;first_name&quot;,
&quot;last_name&quot;: &quot;last_name&quot;,
&quot;description&quot;: &quot;description&quot;,
&quot;default_card&quot;: &quot;0&quot;,
&quot;identification&quot;: {
&quot;type&quot;: &quot;type&quot;,
&quot;number&quot;: &quot;number&quot;
},
&quot;phone&quot;: {
&quot;area_code&quot;: &quot;area_code&quot;,
&quot;number&quot;: &quot;number&quot;
},
&quot;address&quot;: {
&quot;street_name&quot;: &quot;street_name&quot;,
&quot;street_number&quot;: 0,
&quot;zip_code&quot;: &quot;zip_code&quot;
},
&quot;metadata&quot;:[],
&quot;date_created&quot;: &quot;0&quot;,
&quot;date_last_updated&quot;: &quot;0&quot;,
&quot;date_registered&quot;: &quot;0&quot;,
&quot;cards&quot;: [{
&quot;customer_id&quot;: &quot;customer_id&quot;,
&quot;expiration_month&quot;: 4,
&quot;expiration_year&quot;: 20,
&quot;id&quot;: &quot;4&quot;,
&quot;last_four_digits&quot;: &quot;1234&quot;,
&quot;first_six_digits&quot;: &quot;123456&quot;,
&quot;issuer&quot;: {
&quot;id&quot;: &quot;id&quot;,
&quot;name&quot;: &quot;name&quot;
}
,
&quot;security_code&quot;: {
&quot;length&quot;: 3,
&quot;card_location&quot;: &quot;card_location&quot;,
&quot;mode&quot;: &quot;mode&quot;
}
,
&quot;payment_method&quot;:{
&quot;id&quot;: &quot;visa&quot;,
&quot;name&quot;: &quot;name&quot;,
&quot;payment_type_id&quot;: &quot;debit_card&quot;,
&quot;additional_info_needed&quot;: &quot;additional_info_needed&quot;,
&quot;settings&quot;: [
        {
          &quot;card_number&quot;: {
            &quot;validation&quot;: &quot;standard&quot;,
            &quot;length&quot;: 16
          },
          &quot;bin&quot;: {
            &quot;pattern&quot;: &quot;^(501105)&quot;,
            &quot;installments_pattern&quot;: &quot;^(501105)&quot;,
            &quot;exclusion_pattern&quot;: &quot;^((589562)|(527571)|(527572))&quot;
          },
          &quot;security_code&quot;: {
            &quot;length&quot;: 3,
            &quot;card_location&quot;: &quot;back&quot;,
            &quot;mode&quot;: &quot;mandatory&quot;
          }
        }
      ],
&quot;additional_info_needed&quot;: [&quot;additional_info_needed 1&quot;,&quot;additional_info_needed 2&quot;]
}
,
&quot;card_holder&quot;: {
&quot;name&quot;: &quot;name&quot;,
&quot;identification&quot;: {
&quot;type&quot;: &quot;type&quot;,
&quot;number&quot;: &quot;number&quot;
}
},
&quot;date_last_updated&quot;: &quot;0&quot;,
&quot;date_created&quot;: &quot;0&quot;
}]
}</string>
	<key>Discount</key>
	<string>{
&quot;amount_off&quot;: &quot;0&quot;,
&quot;coupon_amount&quot;: &quot;0&quot;,
&quot;currency_id&quot;: &quot;0&quot;,
&quot;id&quot;: 0,
&quot;name&quot;: &quot;name&quot;,
&quot;percent_off&quot;: &quot;0&quot;
}
</string>
	<key>DiscountCoupon</key>
	<string>{
     &quot;id&quot;: 12572,
     &quot;name&quot;: &quot;testChoOFF&quot;,
     &quot;percent_off&quot;: 10,
     &quot;amount_off&quot;: 0,
     &quot;coupon_amount&quot;: 11,
     &quot;currency_id&quot;: &quot;ARS&quot;,
     &quot;concept&quot;: &quot;testConcept&quot;
     }</string>
	<key>FeesDetail</key>
	<string>{
&quot;type&quot;: &quot;type&quot;,
&quot;fee_payer&quot;: &quot;fee_payer&quot;,
&quot;amount&quot;: 0,
&quot;amount_refunded&quot;: 0
}</string>
	<key>Identification</key>
	<string>{
&quot;type&quot;: &quot;type&quot;,
&quot;number&quot;: &quot;number&quot;
}</string>
	<key>IdentificationType</key>
	<string>{
&quot;id&quot;: &quot;id&quot;,
&quot;name&quot;: &quot;name&quot;,
&quot;type&quot;: &quot;type&quot;,
&quot;min_length&quot;: &quot;0&quot;,
&quot;max_length&quot;: &quot;0&quot;
}</string>
	<key>Installment</key>
	<string>{
&quot;payment_method_id&quot;: &quot;payment_method_id&quot;,
&quot;payment_type_id&quot;: &quot;payment_type_id&quot;,
&quot;issuer&quot;:{
&quot;id&quot;: &quot;id&quot;,
&quot;name&quot;: &quot;name&quot;
}
,
&quot;payer_costs&quot;: {
&quot;installments&quot;: &quot;0&quot;,
&quot;installment_rate&quot;: &quot;0&quot;,
&quot;min_allowed_amount&quot;: &quot;0&quot;,
&quot;max_allowed_amount&quot;: &quot;0&quot;,
&quot;installment_amount&quot;: &quot;0&quot;,
&quot;total_amount&quot;: &quot;0&quot;,
&quot;recommended_message&quot;: &quot;recommended_message&quot;
}
}</string>
	<key>Instruction</key>
	<string>{
&quot;title&quot;: &quot;title&quot;,
&quot;accreditation_message&quot;: &quot;accreditation_message&quot;,
&quot;references&quot;: [{
&quot;label&quot;: &quot;label&quot;,
&quot;value&quot;: [&quot;value&quot;],
&quot;separator&quot;: &quot;separator&quot;
}],
&quot;info&quot;: [&quot;info&quot;],
&quot;secondary_info&quot;: [&quot;secondary_info&quot;],
&quot;tertiary_info&quot;: [&quot;tertiary_info&quot;]
}
</string>
	<key>InstructionInfo</key>
	<string>{
    &quot;amount_info&quot;: {
        &quot;thousands_separator&quot;: &quot;.&quot;,
        &quot;decimal_separator&quot;: &quot;,&quot;,
        &quot;symbol&quot;: &quot;R$&quot;,
        &quot;decimal_places&quot;: 2,
        &quot;amount&quot;: 4001,
        &quot;total_paid_amount&quot;: 4001
    },
    &quot;instructions&quot;: [
        {
            &quot;accreditation_message&quot;: &quot;Assim que você pagar, será aprovado automaticamente entre 1 e 2 dias úteis, mas considere: Em caso de feriados, será identificado até às 18h do segundo dia útil subsequente ao feriado.&quot;,
            &quot;info&quot;: [
                &quot;1. Acesse o seu Internet Banking ou abra o aplicativo do seu banco.&quot;,
                &quot;2. Utilize o código abaixo para realizar o pagamento.&quot;
            ],
            &quot;references&quot;: [
                {
                    &quot;label&quot;: &quot;Número&quot;,
                    &quot;field_value&quot;: [
                        &quot;2379&quot;,
                        &quot;1729&quot;,
                        &quot;0000&quot;,
                        &quot;0400&quot;,
                        &quot;1003&quot;,
                        &quot;3802&quot;,
                        &quot;6025&quot;,
                        &quot;4607&quot;,
                        &quot;2909&quot;,
                        &quot;0063&quot;,
                        &quot;3330&quot;
                    ],
                    &quot;separator&quot;: &quot; &quot;,
                    &quot;comment&quot;: &quot;Você pode copiar e colar o código no fluxo de pagamento do seu aplicativo para torná-lo mais simples e cômodo.&quot;
                }
            ],
            &quot;secondary_info&quot;: [
                &quot;Uma cópia desse boleto foi enviada ao seu e-mail -payer.email- caso você precise realizar o pagamento depois.&quot;
            ],
            &quot;subtitle&quot;: &quot;Veja como é fácil pagar o seu produto&quot;,
            &quot;title&quot;: &quot;Pronto, pague o seu boleto de R$ 4.001,00&quot;,
            &quot;type&quot;: &quot;bank_transfer&quot;
        }
    ]
}</string>
	<key>InstructionInfo_complete</key>
	<string>{
    &quot;amount_info&quot;: {
        &quot;thousands_separator&quot;: &quot;.&quot;,
        &quot;decimal_separator&quot;: &quot;,&quot;,
        &quot;symbol&quot;: &quot;R$&quot;,
        &quot;decimal_places&quot;: 2,
        &quot;amount&quot;: 4001,
        &quot;total_paid_amount&quot;: 4001
    },
    &quot;instructions&quot;: [
        {
            &quot;accreditation_message&quot;: &quot;Assim que você pagar, será aprovado automaticamente entre 1 e 2 dias úteis, mas considere: Em caso de feriados, será identificado até às 18h do segundo dia útil subsequente ao feriado.&quot;,
            &quot;accreditation_comments&quot;: [
              &quot;Pagamentos realizados em correspondentes bancários podem ultrapassar este prazo.&quot;
            ],
            &quot;actions&quot;: [
                {
                    &quot;label&quot;: &quot;Ir a banca en línea&quot;,
                    &quot;tag&quot;: &quot;link&quot;,
                    &quot;url&quot;: &quot;http://www.bancomer.com.mx&quot;
                },
                {
                    &quot;label&quot;: &quot;Imprime el cupon&quot;,
                    &quot;tag&quot;: &quot;print&quot;,
                    &quot;url&quot;: &quot;http://www.bancomer.com.mx&quot;
                }
            ],
            &quot;info&quot;: [
                &quot;Primero sigue estos pasos en el cajero&quot;,
                &quot;&quot;,
                &quot;1. Ingresa a Pagos&quot;,
                &quot;2. Pagos de impuestos y servicios&quot;,
                &quot;3. Rubro cobranzas&quot;,
                &quot;&quot;,
                &quot;Luego te irá pidiendo estos datos&quot;
            ],
            &quot;references&quot;: [
                {
                  &quot;field_value&quot;: [
                      &quot;2379&quot;,
                      &quot;1729&quot;,
                      &quot;0000&quot;,
                      &quot;0400&quot;,
                      &quot;1003&quot;,
                      &quot;3802&quot;,
                      &quot;6025&quot;,
                      &quot;4607&quot;,
                      &quot;2909&quot;,
                      &quot;0063&quot;,
                      &quot;3330&quot;
                  ],
                    &quot;is_splitable&quot;: true,
                    &quot;label&quot;: &quot;Referencia para abonar&quot;,
                    &quot;separator&quot;: &quot; &quot;,
                    &quot;splitable_every&quot;: 4
                },
                {
                    &quot;field_value&quot;: [&quot;MPAGO:COMPRA&quot;],
                    &quot;is_splitable&quot;: false,
                    &quot;label&quot;: &quot;Concepto&quot;,
                    &quot;separator&quot;: &quot;&quot;
                },
                {
                    &quot;field_value&quot;: [&quot;Mercado Libre - Mercado Pago&quot;],
                    &quot;label&quot;: &quot;Empresa&quot;,
                    &quot;separator&quot;: &quot; &quot;
                }
            ],
            &quot;secondary_info&quot;: [
                &quot;También enviamos estos datos a tu email&quot;
            ],
            &quot;tertiary_info&quot;: [
                &quot;Si pagas un fin de semana o feriado, será al siguiente día hábil.&quot;
            ],
            &quot;subtitle&quot;: &quot;Paga con estos datos&quot;,
            &quot;title&quot;: &quot;Listo, solo te falta pagar $1000 en cualquier cajero automático de Red Link&quot;,
            &quot;type&quot;: &quot;bank_transfer&quot;
        }
    ]
}
</string>
	<key>InstructionReference</key>
	<string>{
&quot;label&quot;: &quot;label&quot;,
&quot;value&quot;: [&quot;value&quot;],
&quot;separator&quot;: &quot;separator&quot;
}</string>
	<key>Issuer</key>
	<string>{
&quot;id&quot;: &quot;id&quot;,
&quot;name&quot;: &quot;name&quot;
}
</string>
	<key>Item</key>
	<string>{
&quot;id&quot;: &quot;id&quot;,
&quot;quantity&quot;: 0,
&quot;unit_price&quot;: 0,
&quot;title&quot;: &quot;title&quot;,
&quot;currency_id&quot;: &quot;currency_id&quot;,
&quot;category_id&quot;: &quot;category_id&quot;,
&quot;picture_url&quot;: &quot;picture_url&quot;,
}</string>
	<key>Order</key>
	<string>{
&quot;id&quot;: 0,
&quot;type&quot;: &quot;type&quot;,
}</string>
	<key>Payer</key>
	<string>{
&quot;id&quot;: &quot;0&quot;,
&quot;email&quot;: &quot;email&quot;,
&quot;type&quot;: &quot;type&quot;,
&quot;identification&quot;: {
&quot;type&quot;: &quot;type&quot;,
&quot;number&quot;: &quot;number&quot;
}}</string>
	<key>PayerCost</key>
	<string>{
&quot;installments&quot;: 0,
&quot;installment_rate&quot;: 0,
&quot;min_allowed_amount&quot;: 0,
&quot;max_allowed_amount&quot;: 0,
&quot;installment_amount&quot;: 0,
&quot;total_amount&quot;: 0,
&quot;recommended_message&quot;: &quot;recommended_message&quot;
}</string>
	<key>Payment</key>
	<string>{
&quot;id&quot;: 123123124235,
&quot;binary_mode&quot;: &quot;true&quot;,
&quot;captured&quot;: &quot;true&quot;,
&quot;currency_id&quot;: &quot;currency_id&quot;,
&quot;money_release_date&quot;: &quot;0&quot;,
&quot;date_created&quot;: &quot;0&quot;,
&quot;date_last_updated&quot;: &quot;0&quot;,
&quot;date_approved&quot;: &quot;0&quot;,
&quot;description&quot;: &quot;description&quot;,
&quot;external_reference&quot;: &quot;external_reference&quot;,
&quot;installments&quot;: 0,
&quot;live_mode&quot;: &quot;true&quot;,
&quot;notification_url&quot;: &quot;notification_url&quot;,
&quot;fee_details&quot;:[ {
&quot;type&quot;: &quot;type&quot;,
&quot;fee_payer&quot;: &quot;fee_payer&quot;,
&quot;amount&quot;: 200,
&quot;amount_refunded&quot;: 0
}],
&quot;card&quot;:{
&quot;customer_id&quot;: &quot;customer_id&quot;,
&quot;expiration_month&quot;: 4,
&quot;expiration_year&quot;: 20,
&quot;id&quot;: &quot;123456&quot;,
&quot;last_four_digits&quot;: &quot;4444&quot;,
&quot;first_six_digits&quot;: &quot;451234&quot;,
&quot;issuer&quot;: {
&quot;id&quot;: &quot;310&quot;,
&quot;name&quot;: &quot;name&quot;
}
,
&quot;security_code&quot;: {
&quot;length&quot;: 0,
&quot;card_location&quot;: &quot;card_location&quot;,
&quot;mode&quot;: &quot;mode&quot;
}
,
&quot;payment_method&quot;:{
&quot;id&quot;: &quot;id&quot;,
&quot;name&quot;: &quot;name&quot;,
&quot;payment_type_id&quot;: &quot;debit_card&quot;,
&quot;additional_info_needed&quot;: &quot;additional_info_needed&quot;,
&quot;settings&quot;: &quot;settings&quot;,
&quot;additional_info_needed&quot;: [&quot;additional_info_needed 1&quot;,&quot;additional_info_needed 2&quot;]
}
,
&quot;cardholder&quot;: {
&quot;name&quot;: &quot;name&quot;,
&quot;identification&quot;: {
&quot;type&quot;: &quot;type&quot;,
&quot;number&quot;: &quot;number&quot;
}
},
&quot;date_last_updated&quot;: &quot;0&quot;,
&quot;date_created&quot;: &quot;0&quot;
},
&quot;order&quot;: {
&quot;id&quot;: 0,
&quot;type&quot;: &quot;type&quot;,
},
&quot;payer&quot;: {
&quot;id&quot;: &quot;0&quot;,
&quot;email&quot;: &quot;email&quot;,
&quot;type&quot;: &quot;type&quot;,
&quot;identification&quot;: {
&quot;type&quot;: &quot;type&quot;,
&quot;number&quot;: &quot;number&quot;
}},
&quot;payment_method_id&quot;: &quot;payment_method_id&quot;,
&quot;payment_type_id&quot;: &quot;payment_type_id&quot;,
&quot;refunds&quot;: [{
&quot;id&quot;: 0,
&quot;amount&quot;: 0,
&quot;source&quot;: &quot;source&quot;,
&quot;unique_sequence_number&quot;: &quot;unique_sequence_number&quot;,
&quot;payment_id&quot;: 0,
&quot;date_created&quot;: &quot;0&quot;
}],
&quot;statement_descriptor&quot;: &quot;statement_descriptor&quot;,
&quot;status&quot;: &quot;status&quot;,
&quot;status_detail&quot;: &quot;status_detail&quot;,
&quot;transaction_amount&quot;: 0,
&quot;transaction_amount_refunded&quot;: 0,
&quot;transaction_details&quot;: {
&quot;coupon_amount&quot;: 0,
&quot;external_resource_url&quot;: &quot;external_resource_url&quot;,
&quot;financial_institution&quot;: &quot;financial_institution&quot;,
&quot;installment_amount&quot;: 0,
&quot;net_received_amount&quot;: 0,
&quot;overpaid_amount&quot;: 0,
&quot;total_paid_amount&quot;: 0
},
&quot;collector_id&quot;: &quot;collector_id&quot;,
&quot;coupon_amount&quot;: 0,
&quot;differential_pricing_id&quot;: &quot;0&quot;,
&quot;issuer_id&quot;: &quot;0&quot;,
&quot;token&quot;: &quot;token&quot;
}</string>
	<key>PaymentMethod</key>
	<string>{
    &quot;id&quot;: &quot;visa&quot;,
    &quot;name&quot;: &quot;Visa&quot;,
    &quot;payment_type_id&quot;: &quot;credit_card&quot;,
    &quot;status&quot;: &quot;active&quot;,
    &quot;secure_thumbnail&quot;: &quot;https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif&quot;,
    &quot;thumbnail&quot;: &quot;http://img.mlstatic.com/org-img/MP3/API/logos/visa.gif&quot;,
    &quot;deferred_capture&quot;: &quot;supported&quot;,
    &quot;settings&quot;: [
      {
        &quot;bin&quot;: {
          &quot;pattern&quot;: &quot;^4&quot;,
          &quot;exclusion_pattern&quot;: &quot;^(487017|451766|451772|405896|473711|451769|451765|451757|451764|439818|451377|451761|406290|499859|451751|489412|477053|446344|473721)&quot;,
          &quot;installments_pattern&quot;: &quot;^4&quot;
        },
        &quot;card_number&quot;: {
          &quot;length&quot;: 16,
          &quot;validation&quot;: &quot;standard&quot;
        },
        &quot;security_code&quot;: {
          &quot;mode&quot;: &quot;mandatory&quot;,
          &quot;length&quot;: 3,
          &quot;card_location&quot;: &quot;back&quot;
        }
      }
    ],
    &quot;additional_info_needed&quot;: [
      &quot;cardholder_name&quot;,
      &quot;cardholder_identification_type&quot;,
      &quot;cardholder_identification_number&quot;
    ],
    &quot;min_allowed_amount&quot;: 0,
    &quot;max_allowed_amount&quot;: 250000,
    &quot;accreditation_time&quot;: 2880
  }</string>
	<key>PaymentMethodMultipleSettings</key>
	<string>{
    &quot;id&quot;: &quot;maestro&quot;,
    &quot;name&quot;: &quot;Maestro&quot;,
    &quot;payment_type_id&quot;: &quot;debit_card&quot;,
    &quot;status&quot;: &quot;active&quot;,
    &quot;secure_thumbnail&quot;: &quot;https://www.mercadopago.com/org-img/MP3/API/logos/maestro.gif&quot;,
    &quot;thumbnail&quot;: &quot;http://img.mlstatic.com/org-img/MP3/API/logos/maestro.gif&quot;,
    &quot;deferred_capture&quot;: &quot;unsupported&quot;,
    &quot;settings&quot;: [
      {
        &quot;bin&quot;: {
          &quot;pattern&quot;: &quot;^(501020|501021|501023|501062|501038|501057|588729|501041|501056|501075)&quot;,
          &quot;exclusion_pattern&quot;: null,
          &quot;installments_pattern&quot;: &quot;^(501020|501021|501023|501062|501038|501057|588729|501041|501056|501075)&quot;
        },
        &quot;card_number&quot;: {
          &quot;length&quot;: 18,
          &quot;validation&quot;: &quot;standard&quot;
        },
        &quot;security_code&quot;: {
          &quot;mode&quot;: &quot;mandatory&quot;,
          &quot;length&quot;: 3,
          &quot;card_location&quot;: &quot;back&quot;
        }
      },
      {
        &quot;bin&quot;: {
          &quot;pattern&quot;: &quot;^(501080|501081)&quot;,
          &quot;exclusion_pattern&quot;: null,
          &quot;installments_pattern&quot;: &quot;^(501080|501081)&quot;
        },
        &quot;card_number&quot;: {
          &quot;length&quot;: 19,
          &quot;validation&quot;: &quot;standard&quot;
        },
        &quot;security_code&quot;: {
          &quot;mode&quot;: &quot;mandatory&quot;,
          &quot;length&quot;: 3,
          &quot;card_location&quot;: &quot;back&quot;
        }
      }
    ],
    &quot;additional_info_needed&quot;: [
      &quot;cardholder_identification_number&quot;,
      &quot;cardholder_identification_type&quot;,
      &quot;cardholder_name&quot;,
      &quot;issuer_id&quot;
    ],
    &quot;min_allowed_amount&quot;: 0,
    &quot;max_allowed_amount&quot;: 250000,
    &quot;accreditation_time&quot;: 1440,
    &quot;financial_institutions&quot;: [
    ]
  }</string>
	<key>PaymentMethodSearch</key>
	<string>{
   &quot;groups&quot;:[
      {
         &quot;children&quot;:[
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;&quot;,
               &quot;description&quot;:&quot;Tarjeta de debito&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;debit_card&quot;,
               &quot;type&quot;:&quot;payment_type&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;&quot;,
               &quot;description&quot;:&quot;Tarjeta prepaga de Mercadopago&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;prepaid_card&quot;,
               &quot;type&quot;:&quot;payment_type&quot;
            }
         ],
         &quot;children_header&quot;:&quot;¿Con que tarjeta?&quot;,
         &quot;comment&quot;:null,
         &quot;description&quot;:&quot;Tarjetas&quot;,
         &quot;icon_name&quot;:null,
         &quot;id&quot;:&quot;cards&quot;,
         &quot;type&quot;:&quot;group&quot;
      },
      {
         &quot;children&quot;:[
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;Santander&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;serfin_bank_transfer&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;Banamex&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;banamex_bank_transfer&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;BBVA Bancomer&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;bancomer_bank_transfer&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            }
         ],
         &quot;children_header&quot;:&quot;¿Cual es tu banco?&quot;,
         &quot;comment&quot;:null,
         &quot;description&quot;:&quot;Transferencia Bancaria&quot;,
         &quot;icon_name&quot;:null,
         &quot;id&quot;:&quot;bank_transfer&quot;,
         &quot;type&quot;:&quot;payment_type&quot;
      },
      {
         &quot;children&quot;:[
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;Oxxo&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;oxxo&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;Santander&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;serfin_ticket&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;Banamex&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;banamex_ticket&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;BBVA Bancomer&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;bancomer_ticket&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;Telecom&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;telecom&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;7eleven&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;7eleven&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;Se acreditará en 7 habiles&quot;,
               &quot;description&quot;:&quot;Gestopago&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;gestopago&quot;,
               &quot;type&quot;:&quot;payment_method&quot;
            }
         ],
         &quot;children_header&quot;:&quot;¿Donde quieres pagar?&quot;,
         &quot;comment&quot;:null,
         &quot;description&quot;:&quot;Efectivo&quot;,
         &quot;icon_name&quot;:null,
         &quot;id&quot;:&quot;ticket&quot;,
         &quot;type&quot;:&quot;payment_type&quot;
      },
      {
         &quot;children&quot;:null,
         &quot;children_header&quot;:null,
         &quot;comment&quot;:&quot;Se acreditará en 2 habiles&quot;,
         &quot;description&quot;:&quot;Bitcoin&quot;,
         &quot;icon_name&quot;:null,
         &quot;id&quot;:&quot;bitcoin&quot;,
         &quot;type&quot;:&quot;payment_method&quot;
      }
   ],
   &quot;preferred&quot;:null
}
</string>
	<key>PaymentMethodSearchItem</key>
	<string>{
         &quot;children&quot;:[
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;&quot;,
               &quot;description&quot;:&quot;Tarjeta de debito&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;debit_card&quot;,
               &quot;type&quot;:&quot;payment_type&quot;
            },
            {
               &quot;children&quot;:null,
               &quot;children_header&quot;:null,
               &quot;comment&quot;:&quot;&quot;,
               &quot;description&quot;:&quot;Tarjeta prepaga de Mercadopago&quot;,
               &quot;icon_name&quot;:null,
               &quot;id&quot;:&quot;prepaid_card&quot;,
               &quot;type&quot;:&quot;payment_type&quot;
            }
         ],
         &quot;children_header&quot;:&quot;¿Con que tarjeta?&quot;,
         &quot;comment&quot;:null,
         &quot;description&quot;:&quot;Tarjetas&quot;,
         &quot;icon_name&quot;:null,
         &quot;id&quot;:&quot;cards&quot;,
         &quot;type&quot;:&quot;group&quot;
      }</string>
	<key>Phone</key>
	<string>{
&quot;area_code&quot;: &quot;area_code&quot;,
&quot;number&quot;: &quot;number&quot;
}</string>
	<key>BankDeal</key>
	<string>{
&quot;id&quot;: &quot;id&quot;,
&quot;issuer&quot;:{
&quot;id&quot;: &quot;id&quot;,
&quot;name&quot;: &quot;name&quot;
}
,
&quot;recommended_message&quot;: &quot;recommended_message&quot;,
&quot;picture&quot;: {&quot;url&quot;:&quot;url&quot;},
&quot;payment_methods&quot;: [{
&quot;id&quot;: &quot;id&quot;,
&quot;name&quot;: &quot;name&quot;,
&quot;payment_type_id&quot;: &quot;debit_card&quot;,
&quot;additional_info_needed&quot;: &quot;additional_info_needed&quot;,
&quot;settings&quot;: &quot;settings&quot;,
&quot;additional_info_needed&quot;: [&quot;additional_info_needed 1&quot;,&quot;additional_info_needed 2&quot;]
}
]
}
</string>
	<key>Refund</key>
	<string>{
&quot;id&quot;: 0,
&quot;amount&quot;: 0,
&quot;source&quot;: &quot;source&quot;,
&quot;unique_sequence_number&quot;: &quot;unique_sequence_number&quot;,
&quot;payment_id&quot;: 0,
&quot;date_created&quot;: &quot;0&quot;
}</string>
	<key>SecurityCode</key>
	<string>{
&quot;length&quot;: 3,
&quot;card_location&quot;: &quot;back&quot;,
&quot;mode&quot;: &quot;mode&quot;
}</string>
	<key>Setting</key>
	<string>{
&quot;bin&quot;: {&quot;pattern&quot;: &quot;4&quot;,&quot;exclusion_pattern&quot;: &quot;(487017)&quot;,&quot;installments_pattern&quot;: &quot;4&quot;},
&quot;card_number&quot;: {
&quot;validation&quot;: &quot;validation&quot;,
&quot;length&quot;: 0
},
&quot;security_code&quot;: {
&quot;length&quot;: 40,
&quot;card_location&quot;: &quot;card_location&quot;,
&quot;mode&quot;: &quot;mode&quot;
}
}
</string>
	<key>Token</key>
	<string>{
&quot;id&quot;: &quot;id&quot;,
&quot;public_key&quot;: &quot;public_key&quot;,
&quot;card_id&quot;: &quot;card_id&quot;,
&quot;status&quot;: &quot;status&quot;,
&quot;luhn_validation&quot;: &quot;luhn_validation&quot;,
&quot;date_used&quot;: &quot;date_used&quot;,
&quot;card_number_length&quot;: 0,
&quot;date_created&quot;: &quot;0&quot;,
&quot;last_four_digits&quot;: &quot;0&quot;,
&quot;security_code_length&quot;: 0,
&quot;expiration_month&quot;: 0,
&quot;expiration_year&quot;: 0,
&quot;date_due&quot;: &quot;0&quot;
}</string>
	<key>TransactionDetails</key>
	<string>{
&quot;coupon_amount&quot;: 0,
&quot;external_resource_url&quot;: &quot;external_resource_url&quot;,
&quot;financial_institution&quot;: &quot;financial_institution&quot;,
&quot;installment_amount&quot;: 0,
&quot;net_received_amount&quot;: 0,
&quot;overpaid_amount&quot;: 0,
&quot;total_paid_amount&quot;: 0
}</string>
</dict>
</plist>
