<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error_body_title_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>¿Qué puedo hacer?</string>
	</dict>
	<key>error_body_description_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Por favor, intente pagar de otra forma.</string>
	</dict>
	<key>error_body_description_pending_contingency</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>En unas horas te avisaremos por e-mail si se acreditó.</string>
	</dict>
	<key>error_body_description_pending_review_manual</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Dentro de las próximas 24 horas te avisaremos por e-mail si se acreditó.</string>
	</dict>
	<key>error_body_description_cc_rejected_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>El teléfono está al dorso de tu tarjeta.</string>
	</dict>
	<key>error_body_description_cc_rejected_card_disabled</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Usa otro medio de pago o llama a %1$s para activar tu tarjeta.</string>
	</dict>
	<key>error_body_description_cc_rejected_insufficient_amount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>¡No te desanimes! Recárgala en cualquier banco o desde tu banca electrónica e inténtalo de nuevo. 

O si prefieres, puedes elegir otro medio de pago.</string>
	</dict>
	<key>error_body_description_cc_rejected_other_reason</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Usa otra tarjeta u otro medio de pago.</string>
	</dict>
	<key>error_body_description_rejected_by_bank</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Por favor, intente pagar de otra forma.</string>
	</dict>
	<key>error_body_description_rejected_insufficient_data</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Por favor, intente pagar de otra forma.</string>
	</dict>
	<key>error_body_description_cc_rejected_duplicated_payment</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Igual no te preocupes que tu pago anterior se efectuó con éxito.</string>
	</dict>
	<key>error_body_description_cc_rejected_max_attempts</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Como llegaste al límite de intentos con esta tarjeta, usa otro medio de pago.</string>
	</dict>
	<key>error_body_description_rejected_high_risk</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Usa un medio de pago distinto de tarjeta.</string>
	</dict>
	<key>error_body_action_text_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ya hablé y me autorizó</string>
	</dict>
	<key>error_body_action_text_cc_rejected_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Ya hablé con %1$s y me autorizó</string>
	</dict>
	<key>error_body_secondary_title_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>¿No pudiste autorizarlo?</string>
	</dict>
	<key>discount_coupon_detail_default_concept</key>
	<dict>
		<key>comment</key>
		<string>Concepto Default en el modal de Discount Coupon</string>
		<key>value</key>
		<string>Descuento</string>
	</dict>
	<key>discount_coupon_detail_description</key>
	<dict>
		<key>comment</key>
		<string>Descripción del descuento</string>
		<key>value</key>
		<string> de descuento</string>
	</dict>
	<key>payment_result_screen_congrats_finish_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para terminar el flujo en una pantalla de congrats</string>
		<key>value</key>
		<string>Continuar</string>
	</dict>
	<key>card_form_next_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para pasar a la siguiente pantalla</string>
		<key>value</key>
		<string>Continuar</string>
	</dict>
	<key>card_form_previous_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para volver a la pantalla anterior</string>
		<key>value</key>
		<string>Anterior</string>
	</dict>
	<key>payer_info_name</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Nombre</string>
	</dict>
	<key>payer_info_surname</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Apellido</string>
	</dict>
	<key>payer_info_number</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Número</string>
	</dict>
	<key>payer_info_type</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Tipo</string>
	</dict>
	<key>review_change_payment_method_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Cambiar medio de pago</string>
	</dict>
	<key>bank_deal_details_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Condiciones</string>
	</dict>
	<key>bank_deal_details_date_format</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Hasta el %@</string>
	</dict>
	<key>bank_deals_screen_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Promociones</string>
	</dict>
</dict>
</plist>
