<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MLA</key>
	<dict>
		<key>name</key>
		<string>Argentina</string>
		<key>pref_ID</key>
		<string>243966003-8427190c-c392-4d37-a8f0-7a2d3752e22b</string>
		<key>pref_ID_excl_online</key>
		<string>243966003-fcc66aea-1f57-4623-b082-0098c4109f9e</string>
		<key>pref_ID_excl_offline</key>
		<string>243966003-89815ce6-9f09-4c9e-a266-fb299e4f7abf</string>
		<key>pk_sandbox</key>
		<string>TEST-e4bdd1cf-bcb2-43f7-b565-ed4c9ea25be7</string>
		<key>pk_produ</key>
		<string>APP_USR-0d933ff3-b803-4999-a211-8b3c7d5c7c03</string>
		<key>default_color</key>
		<string>009EE3</string>
	</dict>
	<key>MLU</key>
	<dict>
		<key>name</key>
		<string>Uruguay</string>
		<key>pref_ID</key>
		<string>242696049-dd98b839-4de1-4be9-ac17-bf8878b86407</string>
		<key>pref_ID_excl_online</key>
		<string>242696049-532573d8-0405-46c2-b49b-c72aded629b9</string>
		<key>pref_ID_excl_offline</key>
		<string>242696049-e249dd15-f90e-4744-aa70-14295cda6737</string>
		<key>pk_sandbox</key>
		<string>TEST-6d6abcc5-27ed-4e68-942f-22539893c073</string>
		<key>pk_produ</key>
		<string>APP_USR-cbb6d5cf-a8c4-4354-85ac-476b745e30b6</string>
		<key>default_color</key>
		<string>009EE3</string>
	</dict>
	<key>MLB</key>
	<dict>
		<key>name</key>
		<string>Brasil</string>
		<key>pref_ID</key>
		<string>245099733-1772f1c8-4ae9-4064-81ff-3d9a7a1e0a88</string>
		<key>pref_ID_excl_online</key>
		<string>245099733-8f2f9e2b-e303-4898-8bb1-41d6c3ca4969</string>
		<key>pref_ID_excl_offline</key>
		<string>245099733-b6508c44-808d-4d83-b812-6760c885e28b</string>
		<key>pk_sandbox</key>
		<string>TEST-77d0c0c0-0594-4951-ac78-16c03461fcbc</string>
		<key>pk_produ</key>
		<string>APP_USR-f3f035a2-d343-4a6f-bd3b-fc3c3cb72416</string>
		<key>default_color</key>
		<string>009EE3</string>
	</dict>
	<key>MPE</key>
	<dict>
		<key>name</key>
		<string>Perú</string>
		<key>pref_ID</key>
		<string>242617753-4a855b05-1ede-4445-ac4f-77d065699015</string>
		<key>pref_ID_excl_online</key>
		<string>242617753-e6f25e5a-9ec6-4485-adf2-0b7d18f35f44</string>
		<key>pref_ID_excl_offline</key>
		<string>242617753-4fda54a1-5228-404e-8515-3c1ac321541b</string>
		<key>pk_sandbox</key>
		<string>TEST-bdd07ce7-a827-45e7-802f-72f0162b9c8c</string>
		<key>pk_produ</key>
		<string>APP_USR-0aa4e281-002e-4666-a1cd-95df12595014</string>
		<key>default_color</key>
		<string>009EE3</string>
	</dict>
	<key>MLV</key>
	<dict>
		<key>name</key>
		<string>Venezuela</string>
		<key>pref_ID</key>
		<string>242626852-0c1d1b33-0eb8-4621-b371-3a93629411fa</string>
		<key>pref_ID_excl_online</key>
		<string>242626852-3b675134-eb50-4c6e-8131-1d115584aec2</string>
		<key>pref_ID_excl_offline</key>
		<string>242626852-5b24235b-a62e-451e-9f72-8031069e28ca</string>
		<key>pk_sandbox</key>
		<string>TEST-b3d856f6-375e-4f8c-9573-ad28ab8fac95</string>
		<key>pk_produ</key>
		<string>APP_USR-e2c01ce5-b5c7-445d-898c-e954f22ca11a</string>
		<key>default_color</key>
		<string>009EE3</string>
	</dict>
	<key>MCO</key>
	<dict>
		<key>name</key>
		<string>Colombia</string>
		<key>pref_ID</key>
		<string>242624092-2a26fccd-14dd-4456-9161-5f2c44532f1d</string>
		<key>pref_ID_excl_online</key>
		<string>242624092-73a1b4b2-08c2-470c-b156-23455215ea6f</string>
		<key>pref_ID_excl_offline</key>
		<string>242624092-7043ebc3-d6d3-43bd-971f-359dea007fb7</string>
		<key>pk_sandbox</key>
		<string>TEST-b17d8f8e-5039-4d58-a99f-7a66872741ca</string>
		<key>pk_produ</key>
		<string>APP_USR-169a025c-f8ba-4008-b898-d37568dad17f</string>
		<key>default_color</key>
		<string>009EE3</string>
	</dict>
	<key>MLC</key>
	<dict>
		<key>name</key>
		<string>Chile</string>
		<key>pref_ID</key>
		<string>242625384-d7bbdf3b-891a-48f5-bf4d-ca67fbeb05a4</string>
		<key>pref_ID_excl_online</key>
		<string>242625384-bd05d540-86f4-4d3a-9d88-0aadf195564f</string>
		<key>pref_ID_excl_offline</key>
		<string>242625384-45710e23-0db2-4890-ada1-abcd687aca5c</string>
		<key>pk_sandbox</key>
		<string>TEST-0baa73db-70a3-4e8a-8f1b-f8f922cf3ae3</string>
		<key>pk_produ</key>
		<string>APP_USR-d555ec01-4641-4e12-9b05-dc950aa2d99a</string>
		<key>default_color</key>
		<string>009EE3</string>
	</dict>
	<key>MLM</key>
	<dict>
		<key>name</key>
		<string>Mexico</string>
		<key>pref_ID</key>
		<string>253812950-f798e5a6-9219-4109-aca3-85fd2bc9d3fa</string>
		<key>pref_ID_excl_online</key>
		<string>253812950-612b79f0-f0c1-4da0-a90b-11d9e6ec8782</string>
		<key>pref_ID_excl_offline</key>
		<string>253812950-c5d78d75-af39-4421-908e-11fd6cf9702e</string>
		<key>pk_sandbox</key>
		<string>TEST-0f375857-0881-447c-9b2b-23e97b93f947</string>
		<key>pk_produ</key>
		<string>APP_USR-409345eb-2e44-4cab-8d35-d2d0789d0a89</string>
		<key>default_color</key>
		<string>009EE3</string>
	</dict>
	<key>default</key>
	<dict>
		<key>name</key>
		<string>Argentina</string>
		<key>pref_ID</key>
		<string>243966003-8427190c-c392-4d37-a8f0-7a2d3752e22b</string>
		<key>pref_ID_excl_online</key>
		<string>243966003-fcc66aea-1f57-4623-b082-0098c4109f9e</string>
		<key>pref_ID_excl_offline</key>
		<string>243966003-89815ce6-9f09-4c9e-a266-fb299e4f7abf</string>
		<key>pk_sandbox</key>
		<string>TEST-e4bdd1cf-bcb2-43f7-b565-ed4c9ea25be7</string>
		<key>pk_produ</key>
		<string>APP_USR-0d933ff3-b803-4999-a211-8b3c7d5c7c03</string>
		<key>default_color</key>
		<string>009EE3</string>
	</dict>
</dict>
</plist>
