####
# Default job.
# This job simply defines the iOS image, some environment variables
# and stuff that all jobs should have
##
default: &defaultJob
  # Set the xcode version this virtual machine will use
  macos:
    xcode: "9.4.1"
  # We need to set this for RVM.
  shell: /bin/bash --login
# Default workflow will run on all branches except releases
deploy-workflow: &deployWorkflow
  filters:
    branches:
      only:
        - /release\/.*$/

# Define the jobs we will be using
version: 2
jobs:
  deploy:
    <<: *defaultJob
    steps:
      - checkout
      - add_ssh_keys
      - restore_cache:
          key: gem-cache-{{ checksum "Gemfile.lock" }}-v2
      - run:
          name: Get cocoapods master repo
          command: |
            curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s
      - run:
          name: Run Deploy
          command: ./scripts/run_deploy.sh

# Define the full workflow.
workflows:
  version: 2
  test-lint:
    jobs:
      - deploy:
          <<: *deployWorkflow