<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debmaster</key>
	<dict>
		<key>first_color</key>
		<string>ffeb96</string>
		<key>image_name</key>
		<string>icoTc_master</string>
	</dict>
	<key>debvisa</key>
	<dict>
		<key>first_color</key>
		<string>2591d9</string>
		<key>image_name</key>
		<string>icoTc_visa</string>
	</dict>
	<key>visa</key>
	<dict>
		<key>first_color</key>
		<string>2591d9</string>
		<key>image_name</key>
		<string>icoTc_visa</string>
	</dict>
	<key>master</key>
	<dict>
		<key>first_color</key>
		<string>ffeb96</string>
		<key>image_name</key>
		<string>icoTc_master</string>
	</dict>
	<key>amex</key>
	<dict>
		<key>first_color</key>
		<string>a6e2ca</string>
		<key>image_name</key>
		<string>icoTc_amex</string>
	</dict>
	<key>naranja</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_naranja</string>
	</dict>
	<key>nativa</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_nativa</string>
	</dict>
	<key>tarshop</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_tarshop</string>
	</dict>
	<key>cencosud</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_cencosud</string>
	</dict>
	<key>cabal</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_cabal</string>
	</dict>
	<key>diners</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_diners</string>
	</dict>
	<key>argencard</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_argencard</string>
	</dict>
	<key>pagofacil</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_pagofacil</string>
	</dict>
	<key>rapipago</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_rapipago</string>
	</dict>
	<key>redlink</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_redlink</string>
	</dict>
	<key>bapropagos</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string>icoTc_bapropagos</string>
	</dict>
	<key>cargavirtual</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string></string>
	</dict>
	<key>cordobesa</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string></string>
	</dict>
	<key>cordial</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string></string>
	</dict>
	<key>cmr</key>
	<dict>
		<key>first_color</key>
		<string></string>
		<key>image_name</key>
		<string></string>
	</dict>
</dict>
</plist>
